.nav {
  grid-area: nav;
  background: #9fc1ff;
  border-radius: 10px;
  padding-left: 10px;
}

.item {
  color: black;
  transition: 0.2s linear;
  border-radius: 10px;
  padding-left: 10px;
  margin-top: 10px;
}

.item.active {
  color: green;
}

.item:hover {
  color: red;
  transition: 0.2s linear;
  background-color: #5999ff;
}
