.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
  border-right: 1px solid black;
}

.dialog a {
  text-decoration: none;
  color: green;
}
.messages {
  padding: 10px;
}

.message {
  padding: 10px;
  margin-top: 2px;
  background-color: #839FD2;
}

.message:active {

}

.addDataMessage {
  margin-left: 10px;
}

.addBtn {
  background-color: #6200FF;
  width: 100px;
  height: 30px;
  border: none;
  color: white;
  margin-top: 5px;
  margin-bottom: 15px;
}



.contentMessages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 500px;
  overflow: hidden;
  padding: 5px;
  background-color: #90AEE7;
}

.messageItems {
  overflow: auto;
}

.textForm {
  margin-top: 5px;
  width: 500px;
  max-height: 36px;
  resize: none;
  padding: 3px 0 0 3px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #DFD3FF;
  font-size: 18px;
}

.textForm:focus {
  height: auto;
  overflow: auto;
  max-height: 86px;
}